/*
    Tasty Hamburger SCSS File
    https://github.com/mateuszmikos/tasty-hamburger
    Tasty-Hamburger
*/

@mixin standardSettings($spans: 2) {
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    padding: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s;

    &.slow-anim {
        transition: all 1s;
        span {
            transition: all 1s;
            animation-duration: 2s;
            &::before, &::after {
                transition: all 1s;
                animation-duration: 2s;
            }
        }
    }

    &.fast-anim {
        transition: all 0.2s;
        span {
            transition: all 0.2;
            animation-duration: 0.5s;
            &::before, &::after {
                transition: all 0.2;
                animation-duration: 0.5s;
            }
        }
    }

    span {
        transition: all 0.5s;
        display: block;
        position: absolute;
        top: 25px;
        left: 5px;
        right: 5px;
        height: 3px;
        width: 40px;
        background: white;
        animation-duration: 1s;

        &::before, &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #fff;
            content: "";
            transition: all 0.5s;
            animation-duration: 1s;
        }
    }

    &.dark-toggler {
        span {
            background: black;

            &::before, &::after {
                background-color: #000;
            }
        }
    }

    span:nth-of-type(1) {
        top: 50px / ($spans + 1);
    }

    span:nth-of-type(3) {
        display: none;
    }

    span:nth-of-type(#{$spans}) {
        top: 50px / ($spans + 1) * $spans;
        display: block;
    }
}


// 2 / X
.tasty-hamburger-1 {
    @include standardSettings(2);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(45deg);
            top: 25px;
        }
        span:nth-of-type(2) {
            transform: rotate(320deg);
            top: 25px;
        }
    }
}

// 3 / X
.tasty-hamburger-2 {
    @include standardSettings(3);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(45deg);
            top: 25px;
        }
        span:nth-of-type(2) {
            transform: rotate(765deg);
        }
        span:nth-of-type(3) {
            transform: rotate(320deg);
            top: 25px;
        }
    }
}

// 2 / X2
.tasty-hamburger-3 {
    @include standardSettings(2);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(45deg);
            top: 25px;
        }
        span:nth-of-type(2) {
            transform: rotate(-45deg);
            top: 25px;
        }
    }
}

// 3 / X2
.tasty-hamburger-4 {
    @include standardSettings(3);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(45deg);
            top: 25px;
        }
        span:nth-of-type(2) {
            transform: rotate(45deg);
            top: 25px;
        }
        span:nth-of-type(3) {
            transform: rotate(-45deg);
            top: 25px;
        }
    }
}



// 3 / <- left
.tasty-hamburger-5 {
    @include standardSettings(3);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(-45deg);
            width: 50%;
            top: 50px / 4 + 5px;
        }
        span:nth-of-type(2) {
            top: 25px;
            width: 50%;
            left: 10px;
        }
        span:nth-of-type(3) {
            transform: rotate(45deg);
            width: 50%;
            top: 50px * 3 / 4 - 5px;
        }
    }
}

// 3 / <- bottom
.tasty-hamburger-6 {
    @include standardSettings(3);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(-90deg);
            top: 25px;
            width: 50%;
            left: 12.5px;
        }
        span:nth-of-type(2) {
            top: 25px + 25px / 4;
            transform: rotate(-45deg);
            left: 20px;
            width: 50%;
        }
        span:nth-of-type(3) {
            transform: rotate(45deg);
            top: 25px + 25px / 4;
            width:50%;
        }
    }
}

// 3 / <- right
.tasty-hamburger-7 {
    @include standardSettings(3);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(45deg);
            width: 50%;
            top: 50px / 4 + 5px;
            left: 10px;
        }
        span:nth-of-type(2) {
            top: 25px;
            width: 50%;
        }
        span:nth-of-type(3) {
            transform: rotate(-45deg);
            width: 50%;
            top: 50px * 3 / 4 - 5px;
            left: 10px;
        }
    }
}

// 3 / <- top
.tasty-hamburger-8 {
    @include standardSettings(3);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(-90deg);
            top: 30px;
            width: 50%;
            left: 12.5px;
        }
        span:nth-of-type(2) {
            top: 25px;
            transform: rotate(45deg);
            left: 20px;
            width: 50%;
        }
        span:nth-of-type(3) {
            transform: rotate(-45deg);
            width:50%;
            top: 25px;
        }
    }
}

// 2 /  //
.tasty-hamburger-9 {
    @include standardSettings(2);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(-45deg);
            top: 30px;
            width: 50%;
            left: 20px;
        }
        span:nth-of-type(2) {
            top: 25px;
            transform: rotate(-45deg);
            left: 12.5px;
            width: 50%;
        }
    }
}

// 2 /  \\
.tasty-hamburger-10 {
    @include standardSettings(2);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(45deg);
            top: 30px;
            width: 50%;
            left: 12.5px;
        }
        span:nth-of-type(2) {
            top: 25px;
            transform: rotate(45deg);
            left: 20px;
            width: 50%;
        }
    }
}

// 3 /  ///
.tasty-hamburger-11 {
    @include standardSettings(3);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(-45deg);
            top: 30px;
            width: 50%;
            left: 20px;
        }
        span:nth-of-type(2) {
            top: 25px;
            transform: rotate(-45deg);
            left: 15px;
            width: 50%;
        }
        span:nth-of-type(3) {
            top: 20px;
            transform: rotate(-45deg);
            left: 10px;
            width: 50%;
        }
    }
}

// 3 /  \\\
.tasty-hamburger-12 {
    @include standardSettings(3);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(45deg);
            top: 30px;
            width: 50%;
            left: 10px;
        }
        span:nth-of-type(2) {
            top: 25px;
            transform: rotate(45deg);
            left: 15px;
            width: 50%;
        }
        span:nth-of-type(3) {
            top: 20px;
            transform: rotate(45deg);
            left: 20px;
            width: 50%;
        }
    }
}

// 3 /  /-\
.tasty-hamburger-13 {
    @include standardSettings(3);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(-45deg);
            top: 25px;
        }
        span:nth-of-type(2) {
            transform: rotate(180deg);
        }
        span:nth-of-type(3) {
            transform: rotate(45deg);
            top: 25px;
        }
    }
}

// 3 /  /|\
.tasty-hamburger-14 {
    @include standardSettings(3);

    &.tasty-toggled {
        span:nth-of-type(1) {
            transform: rotate(-45deg);
            top: 25px;
        }
        span:nth-of-type(2) {
            transform: rotate(270deg);
        }
        span:nth-of-type(3) {
            transform: rotate(45deg);
            top: 25px;
        }
    }
}

// 3 /  =
@keyframes anim-15 {
    25% { top: 45px; }
    50% { top: 180px; }
    75% { top: 15px; }
}

@keyframes anim-15-back {
    25% { top: 15px; }
    50% { top: -180px; }
    75% { top: 45px; }
}

.tasty-hamburger-15 {
    @include standardSettings(3);

    span {
        animation-name: anim-15-back;
    }
    
    &.tasty-toggled {
        span:nth-of-type(1) {
            animation-name: anim-15;
        }
        span:nth-of-type(2) {
            animation-name: anim-15;
        }
        span:nth-of-type(3) {
            animation-name: anim-15;
        }
    }
}

// 3 /  =
@keyframes anim-16 {
    75% { left: 80px; }
    100% { left: 0px; }
}

@keyframes anim-16-back {
    75% { left: -80px; }
    100% { left: 0px; }
}
.tasty-hamburger-16 {
    @include standardSettings(3);

    span {
        animation-name: anim-16-back;
    }
    
    &.tasty-toggled {
        span:nth-of-type(1) {
            animation-name: anim-16;
            transform: rotate(90deg);
        }
        span:nth-of-type(2) {
            animation-name: anim-16;
            transform: rotate(-90deg);
        }
        span:nth-of-type(3) {
            animation-name: anim-16;
            transform: rotate(270deg);
        }
    }
}


// 3 /  =
@keyframes anim-17 {
    75% { top: 80px; }
}

@keyframes anim-17-back {
    75% { top: -80px; }
}
.tasty-hamburger-17 {
    @include standardSettings(3);

    span {
        animation-name: anim-17-back;
    }
    
    &.tasty-toggled {
        span:nth-of-type(1) {
            animation-name: anim-17;
            transform: rotate(90deg);
        }
        span:nth-of-type(2) {
            animation-name: anim-17;
            transform: rotate(-90deg);
        }
        span:nth-of-type(3) {
            animation-name: anim-17;
            transform: rotate(270deg);
        }
    }
}



// 3 /  STAR
@keyframes anim-18-a {
    20% { transform: rotate(90deg); left: 25px; top: 25px; }
    40% { transform: rotate(180deg); left: 5px; top: 40px; }
    60% { transform: rotate(270deg); left: -15px; top: 25px; }
    80% { transform: rotate(360deg); left: 5px; top: 10px; }
    100% { top: 35px; }
}

@keyframes anim-18-b {
    20% { top: 10px;}
    40% { transform: rotate(90deg); left: 25px; top: 25px; }
    60% { transform: rotate(180deg); left: 5px; top: 40px; }
    80% { transform: rotate(270deg); left: -15px; top: 25px; }
    100% { top: 25px; }
}

@keyframes anim-18-c {
    20% { top: 25px;}
    40% { top: 10px; }
    60% { transform: rotate(90deg); left: 25px; top: 25px; }
    80% { transform: rotate(180deg); left: 5px; top: 40px; }
    100% { top: 15px; }
}

@keyframes anim-18-back {
    20% { transform: rotate(360deg); left: 5px; top: 10px; }
    40% { transform: rotate(270deg); left: -15px; top: 25px; }
    60% { transform: rotate(180deg); left: 5px; top: 40px; }
    80% { transform: rotate(90deg); left: 25px; top: 25px; }
}
.tasty-hamburger-18 {
    @include standardSettings(3);

    span {
        animation-name: anim-18-back;
    }
    
    &.tasty-toggled {
        span:nth-of-type(1) {
            animation-name: anim-18-a;
            animation-fill-mode: forwards;
        }
        span:nth-of-type(2) {
            animation-name: anim-18-b;
            animation-fill-mode: forwards;
        }
        span:nth-of-type(3) {
            animation-name: anim-18-c;
            animation-fill-mode: forwards;
        }
    }
}



// 3 /  STAR
@keyframes anim-19-a {
    75% { transform: rotate(360deg); top: 25px; }
    90% { transform: rotate(180deg); top: 25px; }
    100% { top: 20px; }
}

@keyframes anim-19-b {
    75% { transform: rotate(360deg); top: 25px; }
    90% { transform: rotate(45deg); top: 25px; }
    100% { top: 25px; }
}

@keyframes anim-19-c {
    75% { transform: rotate(360deg); top: 25px; }
    90% { transform: rotate(270deg); top: 25px; }
    100% { top: 25px; }
}

@keyframes anim-19-back {
    75% { top: -80px; }
}
.tasty-hamburger-19 {
    @include standardSettings(3);

    span {
        animation-name: anim-19-back;
    }
    
    &.tasty-toggled {
        span:nth-of-type(1) {
            animation-name: anim-19-a;
            animation-fill-mode: forwards;
        }
        span:nth-of-type(2) {
            animation-name: anim-19-b;
            animation-fill-mode: forwards;
        }
        span:nth-of-type(3) {
            animation-name: anim-19-c;
            animation-fill-mode: forwards;
        }
    }
}


// 2 /  dance
@keyframes anim-20 {
    25% { transform: rotate(90deg); }
    50% { transform: rotate(360deg); }
    70% { transform: rotate(360deg); }
    85% { transform: rotate(360deg); }
    91% { transform: rotate(360deg); }
    100% { transform: rotate(344deg); }
}



@keyframes anim-20-back {
    100% { transform: rotate(180deg); }
}
.tasty-hamburger-20 {
    @include standardSettings(2);

    span {
        animation-name: anim-20-back;
    }
    
    &.tasty-toggled {
        span {
            animation-name: anim-20;
            animation-fill-mode: forwards;
        }
    }
}



// 3 /  dance
@keyframes anim-21 {
    20% { transform: rotate(10deg); }
    40% { transform: rotate(-10deg); }
    60% { transform: rotate(10deg); }
    80% { transform: rotate(-10deg); }
}

@keyframes anim-21-ba {
    20% { background-color: red; color: red; }
    40% { background-color: green; }
    60% { background-color: blue; }
    80% { background-color: orange;}
}



@keyframes anim-21-back {
    100% { transform: rotate(180deg); }
}
.tasty-hamburger-21 {
    @include standardSettings(3);

    span {
        animation-name: anim-21-back;
    }
    
    &.tasty-toggled {
        span {
            animation-name: anim-21;
            &::before, &::after {
                animation-name: anim-21-ba;
            }
        }
    }
}

// 3 /  dance
@keyframes anim-22-a {
    100% { left: -15px; }
}

@keyframes anim-22-b {
    100% { left: 20px; }
}

@keyframes anim-22-ba {
    20% { background-color: red; color: red; }
    40% { background-color: green; }
    60% { background-color: blue; }
    80% { background-color: orange;}
}



@keyframes anim-22-back-a {
    0% { left: -15px; }
    80% { left: 5px; height: 5px; }
    100% {height: 3px;}
}

@keyframes anim-22-back-b {
    0% { left: 20px; }
    80% { left: 5px; height: 5px; }
    100% {height: 3px;}
}

.tasty-hamburger-22 {
    @include standardSettings(3);

    span:nth-of-type(1) {
        animation-name: anim-22-back-a;
    }

    span:nth-of-type(3) {
        animation-name: anim-22-back-b;
    }
    
    &.tasty-toggled {
        span {
            &::before, &::after {
                animation-name: anim-22-ba; 
            }
        }

        span:nth-of-type(1) {
            animation-name: anim-22-a;
            animation-fill-mode: forwards;
        }
        span:nth-of-type(3) {
            animation-name: anim-22-b;
            animation-fill-mode: forwards;
        }
    }
}